<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoolPlaces.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CAD9716A1D402D85007A556C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAD9717E1D402D85007A556C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAD971891D402D85007A556C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
