<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>977269694239-rc25aqelqgv7aioe5ol1pl5dbb0ae5b3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977269694239-rc25aqelqgv7aioe5ol1pl5dbb0ae5b3</string>
	<key>API_KEY</key>
	<string>AIzaSyAqqrD4nzgPqlEirx-e8C1hocx4gOMV3vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>977269694239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Interware.CoolPlaces</string>
	<key>PROJECT_ID</key>
	<string>coolplaces-6128c</string>
	<key>STORAGE_BUCKET</key>
	<string>coolplaces-6128c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:977269694239:ios:bdc7c9a9a53811ae</string>
	<key>DATABASE_URL</key>
	<string>https://coolplaces-6128c.firebaseio.com</string>
</dict>
</plist>